[Desktop Entry]
Version=1.0
Type=Application
Name=Feather
Comment=Write with pleasure!
Exec=feather
Icon=org.kde.kwrite
Terminal=false
StartupNotify=true
Categories=Create;
